<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Index</title>
    </head>
    <body>
        <p>Welcome!, check:</p>
        <ul>
            {% for url in urls %}
            <li><a href="{{url.url}}">{{url.name}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
